.footer-mobile
    MenuLinks.footer-mobile__row(:props='props' :links='links' light center)
    MenuQuickLinks.footer-mobile__row(:props='props' light center)
    MenuContact.footer-mobile__row(:props='props' center)
    MenuSocialMedia.footer-mobile__row(:props='props' center)