.footer-desktop
  .footer-desktop__col
    MenuContact(:props='props')
  .footer-desktop__col
    MenuLinks.footer-desktop__row(:props='props' :links='links' light)
    MenuQuickLinks.footer-desktop__row(:props='props' light)
  .footer-desktop__col
    MenuSocialMedia(:props='props' stacked)