section.block-contact-form
  .block-contact-form__container
    .block-contact-form__content(v-if='props.content' :props='props.content' ref='content')
    .block-contact-form__box(ref='box')
      Form.block-contact-form__form