.block-button
  width: fit-content

  &__button
    cursor: pointer

    &--primary
      @include button-primary

    &--secondary
      @include button-secondary

    &--underline
      @include button-underline

    &:focus-visible
      @include focus

  &__disclaimer
    @extend %disclaimer
    display: block
    margin: 0 auto