footer.footer
  BaseIcon.footer__wave(name='footer-wave' ref='wave' :style='{ top: height }')
  .footer__top
    .footer__container(ref='container')
      // circle graphics
      BaseIcon.footer__bubbles.footer__bubbles--large(name='footer-bubbles-large' ref='largeBubbles' :style='{ left: position }')
      BaseIcon.footer__bubbles.footer__bubbles--small(name='footer-bubbles-small' ref='smallBubbles' :style='{ right: position }')
      
      BaseIcon.footer__logo(name='logo')
      FooterMobile.footer__row(v-if='$store.state.isPhoneLandLg || $store.state.isTablet' :props='$store.state.global' :links='links')
      FooterDesktop.footer__row(v-else :props='$store.state.global' :links='links')
      
  .footer__bottom
    .footer__container.footer__container--bottom
      .footer__bottom--col
        span {{ `© ${ new Date().getFullYear() } ${ $store.state.global.company_name } | ` }}
        a.footer__bottom-link(v-html='"Online Advantage by Rooster Grin Media"', href='https://www.roostergrin.com/', target='_blank' aria-label='Online Advantage by Rooster Grin Media links to site')
        span {{ ' | ' }}
        nuxt-link.footer__bottom-link(to='/privacy-policy') Privacy&nbsp;Policy
        span {{ ' | ' }}
        nuxt-link.footer__bottom-link(to='/accessibility') Click&nbsp;for&nbsp;Accessibility
