section.block-tiles
  .block-tiles__container
    h2.block-tiles__title(v-if='props.title' ref='title') {{ props.title }}
    .block-tiles__tiles(ref='container')
      .block-tiles__tile(
        v-for='(tile, i) in props.tiles',
        :key='`tile-${i}`',
        ref='tiles'
      )
        .block-tiles__image-container
          BaseImage.block-tiles__image(v-bind='tile.image' forceVisible imageBackground)
        h3.block-tiles__tile-title(v-if='tile.title') {{ tile.title }}
        BlockButton.block-tiles__button(
          v-if='tile.button'
          :props='tile.button'
        )
    