section.block-form
  .block-form__container(v-if='selectedForm')
    .block-form__col.block-form__col--content
      BlockContent(:props='selectedForm.post.content.content')
  .block-form__container(v-if='selectedForm')
    .block-form__col.block-form__col--form(data-observed='false', data-ref='gsapSingle--3')
      FormFlexible(:props='props', :selectedForm='selectedForm.post' )
