section.block-repeater-post
  .block-repeater-post__container(v-if='!havePosts')
    h2.block-repeater-post__title Loading...
  .block-repeater-post__container(ref='container')
    h2.block-repeater-post__title(v-if='props.title', v-html='props.title' ref='title')
    .block-repeater-post__posts(v-if='props && havePosts')
      nuxt-link.block-repeater-post__post(v-for='(post, i) in postsPerPage[$route.params.page]',
        :key=`$route.name + ' post ' + i`,
        :style='{ width: tileWidth }'
        :to='`${post.path}`',
        ref='posts')
        BlockPreviewPost(
          :props='post.post',
          :image='post.post.image.image')
        .block-repeater-post__read-more Read More
    BlockPagination(:pageCount='pageCount')
